.list-todo-container {
    button {
        cursor: pointer;
    }

    .add-todo {
        .add {
            margin: 0 10px;
        }
    }

    .list-todo-content {
        width: 400px;
        margin: 0 auto;

        .todo-child {
            .edit {
                margin: 0 10px;
            }

            height: 40px;
            border-bottom: 1px solid grey;
            text-align: center;
        }

    }
}